<!doctype html>
<html lang="en">
  <head>
    {% include "component/head.njk" %} <link rel="stylesheet" href="/style/reset.css"/>
    <title>SQLMan</title>
    
  </head>
  <body class="">
    {% include "component/top.njk" %}
    <div class="content main">
      <h1>
        Lightweight Data Access Library for Java, and MUCH MORE!
      </h1>
      <section>
        <h2>Usage:</h2>
        <div></div>
      </section>
      <section>
        <h2>Something I would like to say:</h2>
        <div></div>
      </section>
    </div>
    {% include "component/footer.njk" %}
  </body>
</html>