html, body {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-size: 14px;
}
.ie8borderraidus {
  /** 兼容ie8 圆角 */
  position: relative;
  z-index: 200;
  behavior: url('/authn/js/PIE.htc');
}
.back {
  position: absolute;
  top: 15px;
  left:15px;
  font-size: 26px;
  color: #A3A2A2;
  cursor: pointer;
  z-index: 999;
  background: #fff;
  font-family: SimSun;
}
.loginway-body {
  width: 100%;
  margin: auto;
  text-align: center;
  background: #fff;
}
.otherways-login {
  margin-top: 40px;
  display: none;
  background: #fff;
}

.otherways-login .title {
  display: none;
  font-size: 29px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #000000;
  line-height: 70px;
  margin: 30px 0 10px;
  background: #fff;
}
.qrcode-login span {
  font-size: 14px;
  color: #666;
  display: block;
  margin: 30px 0 10px;
}
.login-inp {
  /* width: 100%; */
  padding-left: 39px;
  text-align: left;
  overflow: hidden;
}
.login-inp input {
  width: 234px;
  height: 34px;
  line-height: 34px;
  background: rgba(240, 240, 244, 0);
  border: 1px solid #D5D5D5;
  margin-bottom: 30px;
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 300;
  color: #555;
  text-indent: 7px;
  vertical-align: top;
  float: left;
}

.login-inp .countcode {
  width: 170px;
}
.login-inp .countdown {
  width: 64px;
  background: #3C9AFF;
  display: inline-block;
  height: 36px;
  vertical-align: top;
  border: none;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.login-inp p {
  font-size: 14px;
  color: #666;
  margin: 15px 0;
}
.login-inp .qr-code-box, .login-inp .qr-code, .login-inp .qr-code-fail {
  width: 180px;
  height: 180px;
}
.login-inp img {
  width: 100px;
}
.default-way-body .active, .loginway-body .active {
  display: block!important;
}
.moreways {
  width: 180px;
  height: 36px;
  border-radius: 18px;
  display: block;
  border: 1px solid #3C9AFF;
  margin: 10px auto;
  text-align: center;
  cursor: pointer;
}
.moreways a {
  color: #3C9AFF;
  line-height: 36px;
  font-size: 12px;
}
.login-mess-one {
  margin: 30px 20px;
  color: #666;
}
.login-submit {
  width: 180px;
  height: 36px;
  border-radius: 18px;
  background: #3C9AFF;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FEFEFE;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}
.forgetPassword {
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #3C9AFF;
  display: block;
  margin-top: 30px;
}
.wechat-login .login-inp, .dingtalk-login .login-inp, .AD-login .login-inp, .qrcode-login .login-inp {
  padding: 0 20px!important;
  text-align: center;
}

.moreloginway {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
}
.otherways-btns {
  position: absolute;
  bottom: -10px;
  width: calc(100% - 20px);
  height: 96px;
  background: #ebebeb;
  box-shadow: 0px 1px 0px 0px #EBEBEB;
  border-radius: 0px 0px 8px 8px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  padding: 0 10px;
  display: flex;
}
.otherways-btns .otherway-button {
  float: left;
  width: 50px;
  height: 100%;
  text-align: center;
  position: relative;
  background: #ebebeb;
  display: none;
  margin: 0 5px;
}
.otherway-button .hovericon {
  width: 19px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}
.otherway-button .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  border: 1px solid #DADADA;
  margin: 15px auto 5px;
  line-height: 39px;
  cursor: pointer;
}
.otherway-button .icon .iconfont {
  font-size: 21px;
  color: #3C9AFF;
}
.otherway-button p {
  width: 100%;
  font-size: 10px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 15px;
  white-space: nowrap;
  display: none;
}
.otherways-btns .active .hovericon, .otherways-btns .active p {
  display: block!important;
}
.otherways-btns .active .icon {
  background: #3C9AFF;
}
.otherways-btns .active .icon .iconfont {
  color: #fff;
}
.otherway-button .icon:hover {
  background: #3C9AFF;
}
.otherway-button .icon:hover .iconfont {
  color: #fff;
}
.otherway-button .icon:hover + p {
  display: block!important;
}
.tip {
  /* width: 320px; */
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
  font-size: 13px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #666666;
  text-align: center;
  vertical-align: middle;
  display: none;
  white-space: nowrap;
}
.tip img {
  width: 15px;
  vertical-align: top;
}
.scroll-body {
  width: 20px;
  height: 4px;
  background: #DFE2E2;
  border-radius: 2px;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
}
.scroll-body .scroll-blue {
  width: 12px;
  height: 100%;
  background: #3C9AFF;
  border-radius: 2px;
}
.capcha-inp {
  display: none;
}
.capcha-inp .capcha {
  width: 150px;
}

.capcha-inp .capcha-img-box {
  width: 86px;
  height: 36px;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.capcha-inp .capcha-img-code, .capcha-inp .capcha-img-mask {
  width: 86px;
  height: 36px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.capcha-inp  .capcha-img-fresh {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
  cursor: pointer;
}
