html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}
.tbody {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}
.header {
  width: 100%;
  height: 65px;
  background: #fff;
  line-height: 65px;
  img {
    width: auto!important;
    height: 34px;
    vertical-align: middle;
    margin-left: 33px;
  }
  .logo-name {
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 300;
    color: #777777;
    vertical-align: middle;
    margin-left: 34px;
  }
}
.login-body {
  width: calc(100% - 50px);
  height: calc(100% - 125px);
  padding: 30px 25px;
  overflow: hidden;
  text-align: center;
  .login-div {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
  }
  .default-way {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

}
.default-title-body {
  overflow: hidden;
  margin: 10px 38px 0;
  border-bottom: 1px #EBEBEB solid;
  white-space: nowrap;
  .tab {
    width: 50%;
    display: none;
    line-height: 53px;
    text-align: center;
    float: left;
    cursor: pointer;
    span {
      width: 100%;
      display: inline-block;
      font-size: 19px;
      font-family: Microsoft YaHei;
      font-weight: 600;
      color: #807373;
      line-height: 74px;
    }
  }
  div.active span {
    color: #333;
    border-bottom: 4px #3C9AFF solid;
  }
}
.login-foot-body {
  width: 100%;
  height: 86px;
  background: #EBEBEB;
  bottom: 0;
  position: absolute;
  border-radius: 0 0 8px 8px;
}
.login-foot-body button {
  width: 180px;
  height: 36px;
  background: #FFFFFF;
  border: 2px solid #3C9AFF;
  border-radius: 18px;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #3C9AFF;
  margin: 25px auto;
  display: block;
  cursor: pointer;
}
.login-inp .qr-code-box, .login-inp .qr-code, .login-inp .qr-code-fail {
  width: 180px;
  height: 180px;
}

.reset-pwd {
  display: none;
  .password_change {
    overflow: hidden;
    position: relative;
    .reset-back {
      font-size: 26px;
      font-family: SimSun;
      font-weight: 400;
      color: #A3A2A2;
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 999;
      cursor: pointer;
    }
    .title1, .title2 {
      text-align: center;
      font-family: PingFang SC;
      font-weight: 400;
      color: #666;
    }
    .title1 {
      font-size: 18px;
      margin-top: 64px;
    }
    .title2 {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .noModify {
      font-size: 12px;
      font-family: Adobe Heiti Std;
      font-weight: normal;
      color: #3C9AFF;
      text-align: center;
      margin-bottom: 40px;
    }
    .noModify span {
      cursor: pointer;
    }
    .reset-submit {
      width: 180px;
      height: 36px;
      background: #3C9AFF;
      border-radius: 18px;
      font-size: 14px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #FEFEFE;
      border: none;
      outline: none;
      margin: 10px auto;
      display: block;
    }
  }
}

