html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.tbody {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}
.header-body {
  width: 100%;
  height: 110px;
  background: #fff;
}
.header-body .logo {
  height: 100%;
  line-height: 110px;
  display: inline-block;
}
.header-body .logo img {
  height: 65px;
  margin: 0 40px;
  vertical-align: middle;
}
.header-body .logo .logo-name {
  font-size: 34px;
  font-family: PingFang SC;
  font-weight: 300;
  color: #777777;
  vertical-align: middle;
}
.header-body .register,
.header-body .qrcode {
  width: 160px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #C9C9C9;
  border-radius: 20px;
  float: right;
  margin-top: 35px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #3C9AFF;
  cursor: pointer;
}
.header-body .register .iconfont,
.header-body .qrcode .iconfont {
  font-size: 24px;
  vertical-align: top;
}
.footer-body {
  width: 100%;
  height: 80px;
  background: #fff;
}
.login-body {
  width: 100%;
  height: calc(100% - 190px);
  overflow: hidden;
  /* background-image: url(../image/login-bgimg.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.login-body .banner-img {
  position: absolute;
  min-height: 100%;
  left: 0;
  right: 0;
  margin: auto;
}
.login-body .login-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60%;
  right: 10%;
  margin: auto;
  width: 480px;
  height: 600px;
  border-radius: 20px;
}
.login-body .default-way {
  height: 100%;
  background: #fff;
  overflow: hidden;
  border-radius: 20px;
}
.login-div .default-title-body {
  overflow: hidden;
  margin: 30px 50px 0;
  border-bottom: 1px #EBEBEB solid;
  white-space: nowrap;
}
.login-div .default-title-body .tab {
  width: 50%;
  display: none;
  line-height: 70px;
  text-align: center;
  float: left;
  cursor: pointer;
}
.login-div .default-title-body .tab span {
  width: 100%;
  display: inline-block;
  font-size: 26px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #807373;
  line-height: 74px;
}
.login-div .default-title-body div.active span {
  color: #333;
  border-bottom: 4px #3C9AFF solid;
}
.login-div .login-foot-body {
  width: 100%;
  height: 132px;
  background: #F3F4F4;
  bottom: 0;
  position: absolute;
  border-radius: 0 0 20px 20px;
}
.login-div .login-foot-body button {
  width: 300px;
  height: 56px;
  background: #FFFFFF;
  border: 3px solid #3C9AFF;
  border-radius: 28px;
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #3C9AFF;
  margin: 37px auto;
  display: block;
  cursor: pointer;
}
.ie8borderraidus {
  /** 兼容ie8 圆角 */
  position: relative;
  z-index: 200;
  behavior: url('/authn/js/PIE.htc');
}
.btn_bind_qrcode {
  position: relative;
}
.bind_windows {
  position: absolute;
  width: 222px;
  height: 245px;
  background: #fff;
  border-radius: 6px;
  line-height: 22px;
  padding-top: 15px;
  z-index: 250;
  top: 45px;
  right: -6px;
  box-shadow: -5px 5px 10px #0000002e;
  display: none;
}
.bind_windows p {
  color: #666;
}
.reset-pwd {
  display: none;
  height: 100%;
  background: #fff;
  border-radius: 20px;
}
.reset-pwd .password_change {
  overflow: hidden;
  position: relative;
}
.reset-pwd .password_change .reset-back {
  font-size: 54px;
  font-weight: 100;
  color: #A3A2A2;
  position: absolute;
  top: 10px;
  left: 25px;
  z-index: 999;
  cursor: pointer;
}
.reset-pwd .password_change .reset-back:hover {
  color: #3C9AFF;
}
.reset-pwd .password_change .title1,
.reset-pwd .password_change .title2 {
  text-align: center;
  font-family: PingFang SC;
  font-weight: 400;
  color: #666;
}
.reset-pwd .password_change .title1 {
  font-size: 24px;
  margin-top: 64px;
}
.reset-pwd .password_change .title2 {
  font-size: 20px;
  margin-top: 10px;
}
.reset-pwd .password_change .reset-submit {
  width: 300px;
  height: 48px;
  background: #3C9AFF;
  border-radius: 24px;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FEFEFE;
  display: block;
  margin: auto;
}
@media (max-width: 1600px) {
  .header-body {
    height: 78px;
  }
  .header-body .register,
  .header-body .qrcode {
    margin-top: 25px;
    font-size: 12px;
    width: 114px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
  }
  .header-body .register .iconfont,
  .header-body .qrcode .iconfont {
    font-size: 16px;
  }
  .header-body .logo {
    line-height: 78px;
  }
  .header-body .logo img {
    height: 46px;
  }
  .header-body .logo .logo-name {
    font-size: 26px;
  }
  .footer-body {
    height: 64px;
  }
  .login-body {
    min-height: 460px;
    height: calc(100% - 142px);
  }
  .login-body .login-div {
    width: 342px;
    height: 427px;
  }
  .login-div .default-title-body {
    overflow: hidden;
    margin: 15px 43px 0;
    border-bottom: 1px #EBEBEB solid;
    white-space: nowrap;
  }
  .login-div .default-title-body .tab {
    width: 50%;
    display: none;
    line-height: 43px;
    float: left;
    cursor: pointer;
  }
  .login-div .default-title-body .tab span {
    display: inline-block;
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #807373;
    line-height: 45px;
  }
  .login-div .default-title-body div.active span {
    color: #333;
    border-bottom: 3px #3C9AFF solid;
  }
  .login-div .login-foot-body {
    width: 100%;
    height: 94px;
    background: #F3F4F4;
    bottom: 0;
    position: absolute;
    border-radius: 0 0 20px 20px;
  }
  .login-div .login-foot-body button {
    width: 213px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #3C9AFF;
    border-radius: 20px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #3C9AFF;
    margin: 26px auto;
    display: block;
    cursor: pointer;
  }
}
@media (max-width: 1600px) {
  .loginway-body {
    width: 342px;
  }
  .login-inp {
    padding-left: 43px;
  }
  .login-inp input {
    width: 256px;
    height: 38px;
    line-height: 38px;
    margin-bottom: 25px;
    font-size: 13px;
    font-family: PingFang SC;
    font-weight: 300;
    color: #999999;
    text-indent: 8px;
    vertical-align: top;
    float: left;
  }
  .qrcode-login span {
    margin: 10px 0;
  }
  .login-submit {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
  }
  .forgetPassword {
    font-size: 13px;
  }
  .login-inp .qr-code-box,
  .login-inp .qr-code,
  .login-inp .qr-code-fail {
    width: 150px;
    height: 150px;
  }
  .otherways-btns {
    height: 94px;
  }
  .login-inp .countcode {
    width: 180px;
  }
  .login-inp .countdown {
    width: 76px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }
  .reset-pwd .password_change .reset-back {
    font-size: 40px;
    line-height: 40px;
    left: 21px;
  }
  .reset-pwd .password_change .title1 {
    font-size: 17px;
    margin-top: 46px;
  }
  .reset-pwd .password_change .title2 {
    font-size: 14px;
  }
  .reset-pwd .password_change .noModify {
    margin-bottom: 25px;
  }
  .reset-pwd .password_change .reset-submit {
    width: 213px;
    height: 37px;
    background: #3C9AFF;
    border-radius: 17px;
    font-size: 13px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #FEFEFE;
  }
}
