body {

}

.otherways-login .login-input span input {
    height: 45px;
    line-height: 45px;
}

.login-inputcutd span .countdown.disabled {
    background: #53D3C8;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.mask-in {
    background-color: #001140;
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.main.mainpwd .otherways-login .login-input span input.countdown {
    line-height: 18px;
}

.login-inputcutd span input.countdown.pwdcountdown[disabled] {
    background: #53D3C8;
    color: #FFFFFF !important;
    opacity: 1;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.change_pwd ul li input {
    line-height: 30px;
}

input::-ms-clear {
    display: none;
}

.policy-code-input {
    width: 200px;
    height: 30px;
    border: 0px;
    margin-right: -7px;
    padding: 0px 10px;
}

.otherways-login .login-input span input {
    width: 300px;
    height: 45px;
    margin: 15px 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #d5d5d5;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    border-radius: 2px;
    padding-top: 10px;
}