<footer>
    SqlMan, a part of <a href="https://www.cnblogs.com/frankcheung/">AJ-Framework</a>, author: Frank Cheung, mail:
    frank@ajaxjs.com, visit <a href="https://www.cnblogs.com/frankcheung/">my tech blog(In Chinese)</a>.
    <br />
    <br />
     Copyright © 2025 Frank Cheung. All rights reserved.
</footer>