<!doctype html>
<html lang="en">

<head>
    {% include "component/head.njk" %}
    <link rel="stylesheet" href="/style/common.css"/>
    <link rel="stylesheet" href="/style/blog.css"/>
    <title>SqlMan's Blog: {{title}}</title>
</head>

<body class="blog">
    {% include "component/top.njk" %}
        <div class="content main">
            <h1>
                Blog
            </h1>
            <div class="list article">
                <h1>{{title}}</h1>
                <h2>{{subTitle}}</h2>
               {{ content | safe }}
            </div>
        </div>

        {% include "component/footer.njk" %}
</body>

</html>